Hallo Hacker,

Wie gewohnt das Kulturprogramm für kommende Woche:

{{#events}}
{{startdate}} {{starttime}}:	{{&heading}}

{{&text}}


{{/events}}

Ein PDF mit einer Übersicht zum Ausdrucken und Verteilen findest Du unter
https://media.krautspace.de/files/event-pdf/veranstaltungen-{{year}}-{{week}}.pdf

Viel Spaß dabei!

Der Veranstaltungs-Daemon
