Hallo Hacker,

Wie gewohnt das Kulturprogramm für kommende Woche:

{{#events}}
{{startdate}}:       {{heading}}
                     {{text}}
{{/events}}


Viel Spaß dabei!

Der Veranstaltungs-Daemon
